@import "../variables";

.header-top {
  width: 100%;
  padding: 30px 0;
  background: url("../img/top-bg2.jpg") repeat-x;
}
.header {
  width: 100%;
  padding: 16px 0;
  background: url("../img/bg-nav.jpg") repeat-x;
}


.magaz {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.magaz_item {
  position: relative;
  a {
    display: block;
    color: #ffffff;
    &:hover {
      color: $hoverText;
    }
  }
}

.arr-down-menu {
  margin-top: 5px;
  transition: .3s;
}

.magaz-dropdown {
  position: absolute;
  top: 30px;
  transition: .3s ease;
  display: none;
  background: #e4bc8a;
  padding: 10px 20px;
  animation: .8s opac forwards ;
  &::after{
    content: '';
    position: absolute;
    left: 50px;
    top: -14px;
    border: 8px solid transparent;
    border-bottom: 8px solid  #e4bc8a;
  }
}

.magaz_item--active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    margin: 0 14px 0 20px;
  }
  &:hover {
    .point {
      background-position: -5px -151px;
      width: 33px;
      height: 30px;
    }
    .arr-down-menu {
      transform: rotate(180deg);
    }
    .magaz-dropdown{
      display: block;
      opacity: 1;
    }
  }
}
.magaz-dropdown_item{
  a{
    color: black;
    margin-bottom: 10px;
    &:hover{
      color: white;
    }
  }
}
@keyframes opac {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

//phones
.callbacks{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.callbacks_phone{
  display: block;
  color: #ffffff;
  font-weight: 700;
  transition: .2s;
  margin-right: 35px;
  &:hover{
    color: $hoverText;
  }
}

.callbacks_call{
  display: block;
  color: #ffffff;
  transition: .2s;
  text-decoration: underline;
  &:hover{
    color: $hoverText;
  }
}

//cart
.bars{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.bars_link{
  display: flex;
  align-items: center;
  font-weight: 700;
  color: white;
  transition: .3s;
  i{
    margin-right: 10px;
  }
  &:hover{
    color: $hoverText;
    i{
      opacity: .5;
    }
  }
}

//media
@media  (max-width: 992px){
    .callbacks_phone{
      margin-right: 15px;
    }
}
@media  (max-width: 768px){
  .header-top{
    padding: 15px 0;
    background-size: cover;
  }
  .magaz{
    justify-content: center;
  }
  .magaz_item--active{
    margin-bottom: 15px;
  }
  .magaz_item--active{
    &:hover{
      .magaz-dropdown{
        display: none;
        z-index: 99999999;
      }
    }
  }
  .callbacks{
    justify-content: center;
    margin-bottom: 10px;
  }
  .bars{
    justify-content: center;
  }
}
@media  (max-width: 380px){
  .callbacks{
    flex-direction: column;
  }
  .callbacks_phone{
    margin-right: 0;
    margin-bottom: 10px;
  }
}
