@import "../variables";

.form-callback {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-callback-title {
  color: #000000;
  font-family: $fo;
  font-size: 48px;
  font-weight: 500;
  margin: 50px auto;
}

.inp {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  max-width: 273px;
  width: 100%;
  height: 52px;
  border: 1px solid #e1e1e1;
  margin-bottom: 12px;
  background-color: #ffffff;
}

.inp-sub {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  max-width: 273px;
  width: 100%;
  height: 52px;
  box-shadow: 0 4px 0 #7e0c1a;
  background-color: #a11c2d;
  margin-bottom: 70px;
  border: none;
  transition: .3s;
  &:hover {
    background: black;
    box-shadow: 0 0 0 #7e0c1a;
  }
}

.mfp-bg {
  //z-index: 9999999999;
}

.mfp-content {
  padding: 0 10px;
  position: relative;
  z-index: 99999999999999;
  max-width: 558px;
  width: 100%;
  box-shadow: 0 5px 43px rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
}

.wrap-popup-text {
  text-align: center;
  padding: 10px 15px;
}

.popup-text {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.butons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.bt-popup {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  border: none;
}

.butons-left {
  max-width: 207px;
  width: 100%;
  height: 52px;
  box-shadow: 0 3px 0 #7e0c1a;
  background-color: #a11c2d;
  margin-right: 15px;
  transition: .3s;
  &:hover {
    background-color: #0b0705;
  }
}

.butons-right {
  max-width: 207px;
  width: 100%;
  height: 52px;
  box-shadow: 0 3px 0 #010101;
  background-color: #0b0705;
  transition: .3s;
  &:hover {
    background-color: #a11c2d;
  }
}
#form-popup2 {
  .mfp-close{
    display: none;
  }
}
.form-callback-title--po{
  margin: 20px auto;
}
.mfp-image-holder{
  .mfp-content{
    max-width: 700px;
    background: white;
  }
  .mfp-figure:after{
    background: white;
    box-shadow: none;
  }
  .mfp-close{
    color: black;
    width: 50px;
    right: 25px;
    top: 10px;
  }
}
//media
@media (max-width: 520px){
  .butons-left{
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  .form-callback-title {
    font-size: 24px;
  }
  .butons-left{
    margin-bottom: 15px;
  }
}