@import "normalize";
@import "libs";
@import "variables";
*::-webkit-input-placeholder{
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}


*:-moz-placeholder{
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}


*::-moz-placeholder{
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}


*:-ms-input-placeholder{
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}
.hidden{
  display: none;
}

.ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
h1,h2,h3,p{
  margin: 0;
}
button,input,textarea,a{
  outline: none;
  text-decoration: none;
}
body{
  color: black;
  font-size: 18px;
  font-family: $fo2;
  font-weight: 400;
}
.wrapper{
  max-width: 1920px;
  margin: 0 auto;
  background: url("../img/main-bg.jpg")repeat-y;
  height: auto;
}

//import
@import "elements/header";
@import "elements/slider";
@import "pages/index";
@import "elements/footer";
@import "elements/popups";
@import "pages/items";
@import "elements/bread-crumbs";
@import "pages/catalog";
@import "pages/about_contact";