@import "normalize";
@import "libs";
@import "variables";
*::-webkit-input-placeholder{
  color: #666;
  opacity: 1;
}


*:-moz-placeholder{
  color: #666;
  opacity: 1;
}


*::-moz-placeholder{
  color: #666;
  opacity: 1;
}


*:-ms-input-placeholder{
  color: #666;
  opacity: 1;
}
.hidden{
  display: none;
}

.ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
h1,h2,h3,p{
  margin: 0;
}
button,input,textarea,a{
  outline: none;
  text-decoration: none;
}
body{
  color: black;
  font-size: 18px;
  font-family: $fo2;
  font-weight: 400;
}


//import
@import "elements/header";


