@import "../variables";

.about-img_img{
  display: block;
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}
.item-block_text--size{
  max-width: 100%;
}
.item-block--size{
  max-width: 100%;
  margin-bottom: 20px;
}
.item-block--mar{
  margin-top: 0;
}