@import "../variables";

.cart-item {
  padding: 10px 0;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.cart-item-bl_img {
  display: block;
  max-width: 110px;
}

.cart-item-bl_text {
  max-width: 100px;
}

.cart-item-bl_inp {
  text-align: center;
  width: 160px;
  height: 50px;
  border: 1px solid #ebebeb;
  border-radius: 6px;
}

.cart-item-bl_price {
  font-weight: 700;
}

.cart-item-bl--bt {
  background: none;
  border: none;
  cursor: pointer;
}
.finish-price{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.finish-price_text{
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  color: #a11c2d;
  span{
    color: #000000;
  }
}
.form-bg{
  width: 100%;
  padding: 30px 100px;
  background: url("../img/top-bg2.jpg") repeat;
  margin-bottom: 40px;
}
.form-top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form-top-left_imp{
  display: block;
  width: 350px;
  height: 50px;
  background-color: #ffffff;
  margin-bottom: 15px;
  padding-left: 20px;
  border-radius: 6px;
  border: none;
}
.wrap-hom{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.form-top-left_hom{
  display: block;
  width: 165px;
  height: 50px;
  background-color: #ffffff;
  margin-bottom: 15px;
  padding-left: 20px;
  border-radius: 6px;
  border: none;
}
.form-bot_text{
  display: block;
  background-color: #ffffff;
  border: none;
  padding-left: 20px;
  border-radius: 6px;
  padding-top: 15px;
  width: 100%;
  height: 150px;
}
.sub{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.sub_inp{
  width: 100%;
  max-width: 265px;
  height: 50px;
  box-shadow: 0 3px 0 #7e0c1a;
  background-color: #a11c2d;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  transition: .3s;
  &:hover{
    box-shadow: 0 3px 0 black;
    background-color: black;
  }
}
.wrap-bot-news{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.news-date{
  color: #991b2b;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
}
.news-text{
  color: #311f1d;
  font-size: 18px;
  font-weight: 400;
}
.new-link{
  display: block;
  border-radius: 6px;
  padding: 10px 22px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0 3px 0 #7e0c1a;
  background-color: #a11c2d;
  transition: .3s;
  &:hover{
    box-shadow: 0 3px 0 black;
    background-color: black;
  }
}
.news{
  div{
    margin-bottom: 20px;
  }
}
.news-item{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 35px;
}
.news-date--mar{margin-top: 25px}
.news-item_img{
  display: block;
  margin-right: 15px;
  max-width: 650px;
  width: 100%;
}
.news-item-text_text{
  color: #311f1d;
  font-size: 18px;
  font-weight: 700;
}
.action-link--size{
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}



//media
@media (max-width: 1200px){
  .form-bg{
    padding: 20px 25px;
  }
}
@media (max-width: 992px){
  .news-item{
    flex-direction: column;
  }
  .form-top{
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
  }
  .cart-item-bl {
    margin-bottom: 15px;
  }
  .cart-item-bl_text{
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .form-top-left_imp,
  .form-top-left_hom,
  .form-bot_text{
    width: 260px;
    margin: 0 auto 15px;
  }
  .wrap-hom{
    flex-direction: column;
    align-items: center;
  }
  .sub{
    justify-content: center;
  }
  .form-bg {
    padding: 20px 0;
  }
  .wrap-bot-news{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .action-link--size{
    .new-link{
      margin-top: 10px;
    }
  }
}